html,body{
    overflow-x:hidden;
}
body{
    padding-top:56px;
}
.container{
    max-width:600px;
}
.tweetid a, .tweetid{
    color:#bbb!important;
    text-decoration: none;
    font-size: 12px;
}
.retweeted{
    display:table;
    margin:0 auto
}
.nav-scroller{
    position:relative;
    z-index:2;
    height:2.75rem;
    overflow-y:hidden;
}
.nav-scroller .nav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    padding-bottom:1rem;
    margin-top:-1px;
    overflow-x:auto;
    color:rgba(255,255,255,.75);
    text-align:center;
    white-space:nowrap;
    -webkit-overflow-scrolling:touch;
}
.nav-underline .nav-link{
    padding-top:.75rem;
    padding-bottom:.75rem;
    font-size:.875rem;
    color:var(--secondary);
}
.nav-underline .nav-link:hover{
    color:var(--blue);
}
.nav-underline .active{
    font-weight:500;
    color:var(--gray-dark);
}
.text-white-50{
    color:rgba(255,255,255,.5);
}
.bg-grey-dark{
    background-color:#343a40!important;
}
.border-bottom{
    border-bottom:1px solid #e5e5e5;
}
.box-shadow{
    box-shadow:0 .25rem .75rem rgba(0,0,0,.05);
}
.lh-100{
    line-height:1;
}
.lh-125{
    line-height:1.25;
}
.lh-150{
    line-height:1.5;
}
span.userTweet tt{
    font-size:12px;
}
.retweet{
    text-align:center;
    display:block;
    font-size:12px;
    background-color:#325b85 !important;
    color:#fff;
    letter-spacing:2pt;
    top: -50px;
    position: relative;
}
@media only screen and (min-width :300px) and (max-width :750px){
    body{
        padding:0 !important;
        margin:0 !important;
    }
}